---
---

// fonts
@font-face {
    font-family: 'intro_regular';
    src: url('{{ site.github.url }}/css/font/intro-webfont.eot');
    src: url('{{ site.github.url }}/css/font/intro-webfont.eot?#iefix') format('embedded-opentype'),
         url('{{ site.github.url }}/css/font/intro-webfont.woff2') format('woff2'),
         url('{{ site.github.url }}/css/font/intro-webfont.woff') format('woff'),
         url('{{ site.github.url }}/css/font/intro-webfont.ttf') format('truetype'),
         url('{{ site.github.url }}/css/font/intro-webfont.svg#intro_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('{{ site.github.url }}/css/font/proximanova-regular-webfont.eot');
    src: url('{{ site.github.url }}/css/font/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('{{ site.github.url }}/css/font/proximanova-regular-webfont.woff2') format('woff2'),
         url('{{ site.github.url }}/css/font/proximanova-regular-webfont.woff') format('woff'),
         url('{{ site.github.url }}/css/font/proximanova-regular-webfont.ttf') format('truetype'),
         url('{{ site.github.url }}/css/font/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import "bootstrap";
@import "animsition";
@import "style";
@import "customized";
