---
---

// Rules that need to be parsed by Jekyll

// fonts
@font-face {
    font-family: 'intro_regular';
    src: url('{{ site.github.url }}/css/font/intro-webfont.eot');
    src: url('{{ site.github.url }}/css/font/intro-webfont.eot?#iefix') format('embedded-opentype'),
         url('{{ site.github.url }}/css/font/intro-webfont.woff2') format('woff2'),
         url('{{ site.github.url }}/css/font/intro-webfont.woff') format('woff'),
         url('{{ site.github.url }}/css/font/intro-webfont.ttf') format('truetype'),
         url('{{ site.github.url }}/css/font/intro-webfont.svg#intro_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('{{ site.github.url }}/css/font/proximanova-regular-webfont.eot');
    src: url('{{ site.github.url }}/css/font/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('{{ site.github.url }}/css/font/proximanova-regular-webfont.woff2') format('woff2'),
         url('{{ site.github.url }}/css/font/proximanova-regular-webfont.woff') format('woff'),
         url('{{ site.github.url }}/css/font/proximanova-regular-webfont.ttf') format('truetype'),
         url('{{ site.github.url }}/css/font/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Footer logo
.imdb-logo {
  background-image: url('{{ site.github.url }}/assets/third_party/imdb_logo_fff.png');
  display: inline-block;
  height: 23px;
  position: relative;
  top: 3px;
  background-size: 100%;
  width: 23px;
}

// Cross site
.header .menu li.social {
  top: -.3em;
  i {
    display: inline-block;
    font-size: 1.4em;
  }
  .imdb-logo {
    background-image: url('{{ site.github.url }}/assets/third_party/imdb_logo_777.png');
    height: 1.4em;
    left: 5px;
    top: .15em;
    width: 1.4em;
    &:hover {
      background-image: url('{{ site.github.url }}/assets/third_party/imdb_logo_000.png');
    }
  }
}

@import "bootstrap";
@import "animsition";
@import "style";
@import "customized";
