---
layout: default
---

<div class="top-baner">
  <div class="slider-wrap padding">
    <div class="swiper-container main-slider" data-autoplay="4000" data-touch="1" data-mouse="0"
      data-slides-per-view="1" data-loop="0" data-speed="1200" data-mode="horizontal" id="slider-2">
      <div class="swiper-wrapper">
        {% for slide in site.data.index.slides %}
        <div class="swiper-slide">
          <div class="full-height">
            <div class="clip">
              <div
                class="bg bg-bg-chrome act"
                style="background-image:url({{ site.url }}{{ slide.path }})">
              </div>
            </div>
            <div
              class="main-title {% if slide.caption_class %}{{ slide.caption_class }}{% endif %}">
              <h2>{{ slide.title }}</h2>
              <h5>{{ slide.caption }}</h5>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="slide-prev"></div>
      <div class="slide-next"></div>
      <div class="pagination vertical-mode"></div>
    </div>
  </div>
</div>

<div class="full-width">
  <div class="container">
    <div class="row top30 bottom50">
      <h4>Hello, I am...</h4>
      <p>
        A woman ... An artist ... An adventurer ... 
      </p>
    </div>
  </div>
</div>
