---
layout: default

title: The Pooja Shah - Contact Pooja for a project

active: Contact
---

<div class="top-baner half-height bg-green">
  <div class="main-title no-bg">
    <h2>CONTACT</h2>
  </div>
</div>

<div class="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="about-item">
          <h5>Questions and Inquiries</h5>
          <div class="contact-form">
            <form name="contact-form" onsubmit="return false">
              <input type="text" placeholder="Name*" name="name" required>
              <input type="email" placeholder="Email*" name="email" required>
              <input type="text" placeholder="Subject" name="subject">
              <textarea placeholder="Message"  name="message" required></textarea>
              <input type="submit" value="Send Message" name="submit">
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        {% for member in site.data.contact.team %}
          <h5>{{ member.title }}</h5>
          <p>
            {{ member.name }} - {{ member.agency }}<br>
            {% if member.phone %}
              <span class="fa fa-phone"></span>
              {{ member.phone }} <br>
            {% endif %}
            {% if member.email %}
              <a href="mailto:{{ member.email }}" target="_top">
                <span class="fa fa-envelope"></span>
                {{ member.email }}
              </a>
            {% endif %}
          </p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
