<footer>
  <div class="container">
    <div class="footer">
      <div class="row vertical-align">
        <div class="col-md-3">
          <p>© 2015 - {{ site.time | date: '%Y' }} THEPOOJASHAH.COM</p>
        </div>
        <div class="col-md-6 footer-link">
          {% for item in site.data.menu %}
            {% if item.link %}
              {% if item.target == '_blank' %}
                <a href="{{ item.link}}" target="_blank">
              {% else %}
                <a href="{{ site.github.url }}{{ item.link }}">
              {% endif %}
                {{ item.name }}
              </a>
            {% endif %}
          {% endfor %}
        </div>
        <div class="col-md-3 footer-folow text-right">
          {% include social-links.html %}
          <a href="{{ site.github.url }}/contact"><span class="fa fa-envelope"></span></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="layer-dark"></div>

<script src="{{ site.github.url }}/js/jquery-2.1.4.min.js"></script>
<script src="{{ site.github.url }}/js/isotope.pkgd.min.js"></script>
<script src="{{ site.github.url }}/js/jquery.magnific-popup.min.js"></script>
<script src="{{ site.github.url }}/js/jquery.animsition.min.js"></script>
<script src="{{ site.github.url }}/js/wow.min.js"></script>
<script src="{{ site.github.url }}/js/idangerous.swiper.min.js"></script>
<script src="{{ site.github.url }}/js/all.js"></script>
