<footer>
  <div class="container">
    <div class="footer">
      <div class="row vertical-align">
        <div class="col-md-3 text-left">
          <p>© 2015 - {{ site.time | date: '%Y' }} THEPOOJASHAH.COM</p>
        </div>
        <div class="col-md-6 footer-link">
          <a href="index.html">Home</a>
          <a href="#">Our clients</a>
          <a href="about3.html">About us</a>
          <a href="contact2.html">Contact us</a>
          <a href="blog_boxed_full_width.html">Blog</a>
        </div>
        <div class="col-md-3 footer-folow text-right">
          <a href="#"><span class="fa fa-facebook"></span></a>
          <a href="#"><span class="fa fa-linkedin"></span></a>
          <a href="#"><span class="fa fa-twitter"></span></a>
          <a href="#"><span class="fa fa-google-plus"></span></a>
          <a href="#"><span class="fa fa-behance"></span></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="layer-dark"></div>

<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.animsition.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/idangerous.swiper.min.js"></script>
<script src="js/all.js"></script>
