<header>
  <div class="container">
    <div class="header">
      <div class="logo">
        <a href="index.html" class="table-cell">
          The | Pooja Shah |
        </a>
      </div>
      <div class="nav-menu-icon">
        <a href="#" class="table-cell"><i></i></a>
      </div>
      <div class="navigation">
        <nav class="menu">
          <ul class="table-cell">
            {% for item in site.data.menu %}
                {% if item.dropmenu %}
                  <li><a href="#">{{ item.name }}<span class="fa fa-angle-down"></span></a>
                  <ul class="dropmenu">
                    {% for dropitem in item.dropmenu %}
                      {% if dropitem.submenu %}
                        <li><a href="#" class="submenu">{{ dropitem.name }}<span class="fa fa-angle-down"></span></a>
                          <ul>
                            {% for subitem in dropitem.submenu %}
                              <li>
                                {% if subitem.target == '_blank' %}
                                  <a href="{{ subitem.link}}" target="_blank">
                                {% else %}
                                  <a href="{{ site.github.url }}{{ subitem.link}}" class="animsition-link">
                                {% endif %}
                                  {{ subitem.name }}
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        </li>
                      {% else %}
                        <li>
                          {% if dropitem.target == '_blank' %}
                            <a href="{{ dropitem.link}}" target="_blank">
                          {% else %}
                            <a href="{{ site.github.url }}{{ dropitem.link}}" class="animsition-link">
                          {% endif %}
                            {{ dropitem.name }}
                          </a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>

                {% else %}
                  <li>
                    {% if item.target == '_blank' %}
                      <a href="{{ item.link}}" target="_blank">
                    {% else %}
                      <a href="{{ site.github.url }}{{ item.link }}">
                    {% endif %}
                      {{ item.name }}
                    </a>
                  </li>
                {% endif %}
              </li>
            {% endfor %}
        </nav>
        <!-- <div class="second-menu">
          <div class="table-cell">
            <b>menu</b>
            <div class="open-menu">
              <span></span>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</header>
