<div class="right-menu">
  <div class="wrapp">
    <div class="close-menu"><div></div></div>
    <!-- TODO: SEARCH BAR, DEACTIVATE IF NOT NEEDED ! -->
    <form action="#" class="search-form">
      <div class="search-input">
        <input type="text" placeholder="Search..." class="text-input">
      </div>
      <div class="submit">
        <input type="submit" value="" class="submit-button">
        <span class="fa fa-search"></span>
      </div>
    </form>
    <div class="right-menu-link">
      <h2 class="title">SiteMap</h2>
      <!-- TODO: Make menu from config and divide into rows -->
      <div class="row">
        <div class="menu-list">
          <h4>Pages</h4>
          <ul>
            <li><a href="about3.html" class="animsition-link">About Us</a></li>
            <li><a href="services.html" class="animsition-link">Services</a></li>
            <li><a href="team_1.html" class="animsition-link">Team</a></li>
            <li><a href="faq1.html" class="animsition-link">FAQ</a></li>
            <li><a href="contact2.html" class="animsition-link">Contact Us</a></li>
          </ul>
        </div>
        <div class="menu-list">
          <h4>blog</h4>
          <ul>
            <li><a href="blog_boxed_full_width.html" class="animsition-link">full width</a></li>
            <li><a href="blog_wide_3cols.html" class="animsition-link">wide 3 columns</a></li>
            <li><a href="blog_boxed_masonry_3cols.html" class="animsition-link">boxed 3 columns</a></li>
            <li><a href="blog_detail_sidebar.html" class="animsition-link">single post</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="menu-list">
          <h4>Home page</h4>
          <ul>
            <li><a href="index.html" class="animsition-link">Home</a></li>
            <li><a href="index_agency.html" class="animsition-link">Home Agency</a></li>
            <li><a href="index_slider.html" class="animsition-link">Home Slider</a></li>
            <li><a href="index_video_bg.html" class="animsition-link">Home Video</a></li>
          </ul>
        </div>
        <div class="menu-list">
          <h4>Shop</h4>
          <ul class="dropmenu">
            <li><a href="shop.html" class="animsition-link">List</a></li>
            <li><a href="shop_detail.html" class="animsition-link">details</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
