<a href="https://www.facebook.com/{{ site.data.social.facebook }}/" target="_blank">
  <i class="fa fa-facebook" aria-hidden="true"></i>
</a>
<a href="https://www.instagram.com/{{ site.data.social.instagram }}/" target="_blank">
  <i class="fa fa-instagram" aria-hidden="true"></i>
</a>
<a href="https://twitter.com/{{ site.data.social.twitter }}" target="_blank">
  <i class="fa fa-twitter" aria-hidden="true"></i>
</a>
<a href="https://www.imdb.com/name/{{ site.data.social.imdb }}" target="_blank">
  <i class="fa fa-imdb" aria-hidden="true"></i>
</a>
