@import "spacing";

.animsition {

    // Slider
    .slider-wrap .swiper-slide {
        .main-title {
            &.right {
                text-align: right;
                left: 0;
                padding-right: -180px;
                margin-left: 150px;
            }
        }
    }
    .slider-wrap .swiper-slide.active {
        .main-title {
            padding-right: 30px;
            margin-left: 0;
        }
    }
    p, h4 {
        margin-bottom: 20px;
    }
    .main-content p {
        font-size: 16px;
    }


    // ABOUT Page
    .about-title {
      a {
        font-size: 1.5em;
      }
    }

    // Contact form
    .contact {
      .about-item {
        a {
          font-weight: bold;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }

    // Clips page
    .portfolio-clips {
      &.main-wrapp {
        padding-top: 0;
        #filters {
          padding: 0;
          margin: 20px 0;
        }
      }
    }
}
